:root{
    --text-color: #523C00;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ACC8E5;
}

#first{
    text-align: center;
    margin-bottom: 5px;
    height: 100px;
}
#content{
    max-width: 1000px;
    margin: 0 auto;
}
.second{
    display: flex;
    justify-content: center;
    clear: both;
}
a{
    text-decoration: none;
    color: #112A46;
    float: right;
}
.second .design{
    max-width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.second .design:hover{
    background-color: #e6e6e6;
}
.second .mobile-apps{
    max-width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.second .mobile-apps:hover{
    background-color: #e6e6e6;
}
.second .branding{
    max-width: 250px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2;
}
.second .branding:hover{
    background-color: #e6e6e6;
}

.title{
    text-align: center;
    color: var(--text-color);

}

.description{
    text-align: center;
}
h1{
    color: #6C0808;
    font-size: 2rem;
}
h4{
    font-size: 1.5rem;
    color: #241A00;
}
.pointer{
    cursor: pointer;
}